qbvault2sql/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "qbvault2sql"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IHSCountryPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"QBRecId": "QBRecId",
									"CountryName": "CountryName",
									"RelatedCommodityRegionID": "RelatedCommodityRegionID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IHSCountryQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": "@pipeline().parameters.sourceTable"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "IHSCountrySQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmptx8x2q"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "Staging.IHSCountry"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncIHSCountry"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-03-07T18:35:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IHSHSCodesPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Product Name": "ProductName",
									"HS Code": "HSCode",
									"Group": "Group",
									"Vault Products - Name": "VaultProductsName",
									"Related Vault Products": "RelatedVaultProducts",
									"Vault Products - Cargo Type - Type Name": "VaultProductsCargoTypeName",
									"Vault Products - Related Cargo Type": "VaultProductsRelatedCargoType"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IHSHSCodesQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "IHSHSCodesSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "br4ikr62m"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "Staging.IHSHSCodes"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncIHSHSCodes"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-02-07T17:05:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InvoiceRegistryPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Invoice Number Official_INVOICE": "InvoiceNumberOfficial_INVOICE",
									"Invoice To_INVOICE": "InvoiceTo_INVOICE",
									"Invoice Type Detailed_ADMIN": "InvoiceTypeDetailed_ADMIN",
									"Invoice Amount SnapShot_ADMIN": "InvoiceAmountSnapShot_ADMIN",
									"Invoice Date INVOICE": "InvoiceDateINVOICE",
									"Invoice Status_ADMIN": "InvoiceStatus_ADMIN",
									"Date Payment Received": "DatePaymentReceived",
									"Related SPI Fixture ID": "RelatedSPIFixtureID",
									"Vessel Formula_INVOICE": "VesselFormula_INVOICE",
									"Office Formula_ADMIN": "OfficeFormula_ADMIN",
									"Broker Formula_ADMIN": "BrokerFormula_ADMIN",
									"Charterer Formula_INVOICE": "ChartererFormula_INVOICE",
									"Owner Formula_INVOICE": "OwnerFormula_INVOICE",
									"Invoice Generated By_ADMIN": "InvoiceGeneratedBy_ADMIN",
									"Invoice Due Date": "InvoiceDueDate",
									"Related SPI Time Charter ID (TC Hire Period)": "RelatedSPITimeChartererID",
									"Credit Applied Against Invoice Number": "CreditAppliedAgainstInvoiceNumber",
									"Currency_INVOICE": "Currency_INVOICE",
									"Invoice Type Sub Category_ADMIN": "InvoiceTypeSubCategory_ADMIN",
									"SPI Region Formula_ADMIN": "SPIRegion",
									"Invoice Type Category_ADMIN": "InvoiceTypeCategory_ADMIN"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "InvoiceRegistryQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": "@pipeline().parameters.sourceTable",
									"StartDate_WhereClause": "@variables('varLastLoadedDate')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "InvoiceRegistrySQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "@pipeline().parameters.targetTable"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmsjki439"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.InvoiceRegistry"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.InvoiceRegistryLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncInvoiceRegistry"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogInvoiceRegistryLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-29T17:51:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MarketInfoPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Date Modified": "DateModified",
									"Report Date": "ReportDate",
									"Type": "Type",
									"Related Load Port 1 ID": "RelatedLoadPort1ID",
									"Related Disch Port 1 ID": "RelatedDischPort1ID",
									"Related Charterer ID": "RelatedChartererID",
									"Related Load Port 2 ID": "RelatedLoadPort2ID",
									"Related Disch Port 2 ID": "RelatedDischPort2ID",
									"Disch Port 3 Related ID": "DischPort3RelatedID",
									"Related Vessel ID": "RelatedVesselID",
									"Publishable_ADMIN": "Publishable_ADMIN",
									"Related Product ID": "RelatedProductID",
									"Commencement": "Commencement",
									"Cancelling": "Cancelling",
									"Related Competitor ID": "RelatedCompetitorID",
									"Freight Rate PMT Entry": "FreightRatePMTEntry",
									"Product Quantity_ENTRY": "ProductQuantity_ENTRY",
									"Unit": "Unit",
									"Related Owner Link ID": "RelatedOwnerLinkID",
									"Internal": "Internal",
									"Basis Data Entry": "BasisDataEntry",
									"PANDC": "PandC",
									"Last Modified By": "LastModifiedBy",
									"Notes": "Notes"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MarketInfoQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": "@pipeline().parameters.sourceTable",
									"StartDate_WhereClause": "@variables('varLastLoadedDate')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "MarketInfoSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.MarketInfo"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "biuhnr6q6"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.MarketInfo"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.MarketInfoLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncMarketInfo"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogMarketInfoLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-11-13T21:16:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NominationsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Related Vessel ID": "RelatedVesselID",
									"Related SPI COA ID": "RelatedSPI_COA_ID",
									"Related Post Fixture ID_SUM": "RelatedSPIFixtureID",
									"Related SPI COA Trade Lane ID": "RelatedSPI_COATradeLane",
									"Tent Cargo Nom_Original Qty": "TentCargoNom_OriginalQty",
									"Vessel Nom_Lacyan Commencement Original": "VesselNom_LaycanCommencementOriginal",
									"Vessel Nom_Lacyan Cancelling Original": "VesselNom_LaycanCancellingOriginal",
									"Firm Cargo Nom_Qty": "FirmCargoNom_Qty",
									"Charterer Request_Lacyan Commencement Original": "ChartererRequest_LaycanCommencementOriginal",
									"Charterer Request_Lacyan Cancelling Original": "ChartererRequest_LaycanCancellingOriginal",
									"Date Owners Sent Schedule of Available Vessels to Charterers": "DateOwnersSentScheduleofAvailableVesselstoCharterers",
									"1st Monday of the Month": "1stMondayoftheMonth",
									"Cargo Nomination by Parcel": "CargoNominationbyParcel",
									"Charterer Requested Qty": "ChartererRequestedQty",
									"Vessel Capacity Available": "VesselCapacity",
									"Tent Cargo Nom Date Original": "TentCargoNomDateOriginal",
									"Vessel Nom_Date Original": "VesselNom_DateOriginal",
									"Confirmation Date": "ConfirmationDate"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NominationsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NominationsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bnv8h9t7z"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.Nominations"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.NominationsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncNominations"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogNominationsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-07T11:03:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OwnerInvoicePipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Date Modified": "DateModified",
									"Invoice Due Amount": "InvoiceDueAmount",
									"Owner Invoice Date": "OwnerInvoiceDate",
									"Owner Invoice Number": "OwnerInvoiceNumber",
									"Date Owners Received Frt Payment": "DateOwnersReceivedFrtPayment",
									"Owner Invoice Attachment": "OwnerInvoiceAttachment",
									"Date Invoice Received by SPI": "DateInvoiceReceivedbySPI",
									"Date Validated by SPI": "DateValidatedbySPI",
									"Date Invoice Sent to Charterer": "DateInvoiceSenttoCharterer",
									"Date Verified by Charterer": "DateVerifiedbyCharterer",
									"Internal Invoice Notes": "InternalInvoiceNotes",
									"Currency": "Currency",
									"Invoice Type": "InvoiceType",
									"Related SPI Fixture ID": "RelatedSPIFixtureID",
									"Invoice Status_ADMIN": "InvoiceStatus_ADMIN",
									"Owners Due Date": "OwnersDueDate"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OwnerInvoiceQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": "@pipeline().parameters.sourceTable",
									"StartDate_WhereClause": "@variables('varLastLoadedDate')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OwnerInvoiceSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "@pipeline().parameters.targetTable"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bn5edbwz6"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.OwnerInvoice"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.OwnerInvoiceLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncOwnerInvoice"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogOwnerInvoiceLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-02T16:08:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OwnerParentsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Owner Parent Name": "OwnerParentName",
									"Notes": "Notes"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OwnerParentsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OwnerParentsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.OwnerParents"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bkt3wk8uh"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.OwnerParents"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.OwnerParentsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncOwnerParents"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogOwnerParentsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-06T14:58:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParcelAdditionalChargesPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Related Parcel ID": "RelatedParcelID",
									"Related Additional Charge ID": "RelatedAdditionalChargeID",
									"Parcel Additional Charge Amount Due_QBC": "ParcelAdditionalChargeAmountDue_QBC"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParcelAdditionalChargesQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParcelAdditionalChargesSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.ParcelAdditionalCharges"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bnu6iup95"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.ParcelAdditionalCharges"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ParcelAdditionalChargesLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncParcelAdditionalCharges"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogParcelAdditionalChargesLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-06T15:02:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParcelBerthsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Prorate Laytime_ADMIN": "Prorate",
									"Related SPI Fixture ID (LDP)": "RelatedSpiFixtureId",
									"Related Berth ID": "RelatedBerthId",
									"Related Port ID": "RelatedPortId",
									"Laytime Allowed BERTH hrs_QBC": "LaytimeAllowedBerthHrs_QBC",
									"Laytime Allowed BL BERTH mtph_QBC": "LaytimeAllowedBerthMtph_QBC",
									"Laytime Type BERTH_QBC": "LaytimeTypeBerth_QBC",
									"Related Load Disch Port ID": "RelatedLDPId",
									"Berth Demurrage_ADMIN": "BerthDemurrage_QBC",
									"Laytime Type BERTH_QBC_2": "LAYTIME TYPE BERTH OFFICIAL_QBC"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParcelBerthsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParcelBerthsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.ParcelBerths"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bm3raeq5e"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.ParcelBerths"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ParcelBerthsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncParcelBerths"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogParcelBerthsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-06T15:11:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParcelPortsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Order Entry_ADMIN": "Order",
									"Related SPI Fixture ID": "RelatedSpiFixtureId",
									"Related Port ID": "RelatedPortId",
									"ETA Start": "ETAStart",
									"ETA End": "ETAEnd",
									"ETA Start Original": "ETAStartOriginal",
									"Related Charterer ETA update ID": "RelatedETAUpdateId",
									"Laytime Allowed PORT mtph_QBC": "LaytimeAllowedPortMtph_QBC",
									"Laytime Allowed Type Port_QBC": "LaytimeAllowedTypePort_QBC",
									"Type": "Type",
									"ETA End Original": "ETAEndOriginal",
									"Charterer Delivery Commencement Window": "ChartererDeliveryCommencementWindow",
									"Charterer Delivery Cancelling Window": "ChartererDeliveryCancellingWindow"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParcelPortsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParcelPortsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.ParcelPorts"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmf5abifq"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.ParcelPorts"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ParcelPortsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncParcelPorts"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogParcelPortsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-07T18:43:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParcelProductsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Nominated Qty (max)": "NominatedQtyMax",
									"Nominated Qty (min)": "NominatedQtyMin",
									"Status": "Status",
									"Related Product ID": "RelatedProductId",
									"Related Quote/nomination ID": "RelatedCOANominationId",
									"Related Market Info ID": "RelatedMarketInfoId",
									"Related SPI Fixture ID": "RelatedSPIFixtureId",
									"Related SPI COA Products ID": "RelatedSPICOAProductsId"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParcelProductsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParcelProductsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.ParcelProducts"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bntybms7q"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.ParcelProducts"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ParcelProductsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncParcelProducts"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogParcelProductsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-27T16:38:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParcelsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								},
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QbRecId",
									"Bill_Lading_Date": "BillLadingDate",
									"Date Modified": "DateModified",
									"Date Created": "DateCreated",
									"Out-Turn Qty": "OutTurnQty",
									"Ship Loaded Qty": "ShipLoadedQty",
									"Ship Discharge Qty": "ShipDischargeQty",
									"Nominated Qty": "NominatedQty",
									"BL Qty": "BLQty",
									"Comments": "Comments",
									"Paytment Type": "PaymentType",
									"Unit": "Unit",
									"Related SPI Fixture ID": "RelatedSpiFixtureId",
									"Related Load Parcel Port ID": "RelatedLoadPortID",
									"Related Load Parcel Berth ID": "RelatedLoadBerth",
									"Related Disch Parcel Port ID": "RelatedDischPortId",
									"Related Market Info ID": "RelatedMarketInfoId",
									"Related Nomination ID": "RelatedLiftingNominationId",
									"Related Disch Parcel Berth ID": "RelatedDischBerth",
									"Related Parcel Product ID": "RelatedParcelProductId",
									"Parcel Freight Amount_QBC": "ParcelFreightAmountQBC",
									"Parcel Demurrage Vault Estimated Amount_QBC": "DemurrageVaultEstimateAmount_QBC",
									"Parcel Demurrage Agreed Pro-ration_QBC": "DemurrageAgreedPro-ration_QBC",
									"Parcel Demurrage Agreed Amount_QBC": "DemurrageAgreedAmount_QBC",
									"Parcel Demurrage Claim Amount_QBC": "DemurrageClaimAmount_QBC",
									"Deadfreight Qty": "DeadfreightQty",
									"Parcel Number_ADMIN": "ParcelNumber",
									"Parcel Frt Rate CP PMT_Data_Entry": "ParcelFrtRate",
									"Supplier Name (S)": "SupplierName",
									"Receiver Name (R)": "ReceiverName",
									"Status": "Status",
									"Tentative Cargo Nom Qty": "TentativeCargoNomQty",
									"Tentative Cargo Nom Date Original": "TentativeCargoNomDateOriginal",
									"Charterer Request_Laycan Commencement Original": "ChartererRequest_LaycanCommencementOriginal",
									"Charterer Request_Laycan Cancelling Original": "ChartererRequest_LaycanCancellingOriginal",
									"Charterer Requested Quantity": "ChartererRequestedQuantity",
									"Hypothetical Frt Rate": "HypotheticalFrtRate"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParcelsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParcelsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmetvurzg"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.Parcels"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ParcelsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncParcels"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogParcelsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-19T15:47:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PlantsPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select ll.* from\n(SELECT TOP 1 convert(varchar(50), LastLoaded, 120) LastLoaded \n, convert(varchar(50), GETDATE(), 120) StartDateTime \nFROM [ETL].PlantsLoadInfo\nORDER BY LastLoaded DESC) ll\nunion\nselect '1/1/2019', getdate()\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"QBRecId": "QBRecId",
									"PlantName": "PlantName",
									"Capacity": "Capacity",
									"Unit": "Unit",
									"Status": "Status",
									"Contractor": "Contractor",
									"LocalRegion": "LocalRegion",
									"PlantLocation": "PlantLocation",
									"Comments": "Comments",
									"ShutdownDate": "ShutdownDate",
									"ReOpenDate": "ReOpenDate",
									"RelatedCountryID": "RelatedCountryID",
									"RelatedProductsID": "RelatedProductsID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PlantsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PlantsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmpt8yer2"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "Staging.Plants"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "ETL.PlantsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncPlants"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "ETL.cp_updateLogPlantsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-06T16:13:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PortEventTimesPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Event_Name_Reports": "EventNameReports",
									"Description": "Description"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PortEventTimesQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PortEventTimesSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.PortEventTimes"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmffryf7t"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.PortEventTimes"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.PortEventTimesLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncPortEventTimes"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogPortEventTimesLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-03-03T13:53:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PortsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Port Name": "PortName",
									"Related Shipping Area ID": "RelatedShippingAreaId",
									"Country (IHS)": "Country",
									"Comments": "Comments",
									"Lattitude": "Latitude",
									"Longitude": "Longitude",
									"Port Costs": "PortCosts",
									"Address": "Address",
									"Related Country ID": "RelatedCountryId",
									"LOA Restriction (meters)": "LOARestriction",
									"Draft Restriction (meters)": "DraftRestriction",
									"Product Restriction": "ProductRestriction"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PortsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PortsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.Ports"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "biunaupmj"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.Ports"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.PortsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncPorts"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogPortsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-27T18:54:21Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PositionsPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Date Created": "DateCreated",
									"Date Modified": "DateModified",
									"Record ID#": "RecordID",
									"Record Owner": "RecordOwner",
									"Last Modified By": "LastModifiedBy",
									"Date Open": "DateOpen",
									"End Date": "EndDate",
									"Comments": "Comments",
									"Status Calculation_ADMIN": "StatusCalculation_ADMIN",
									"Related Vessel ID": "RelatedVesselID",
									"Related Port ID": "RelatedPortID",
									"Related Shipping Areas ID (P)": "RelatedShippingAreaID_P",
									"Related Product ID": "RelatedProductID",
									"Last Cargo": "LastCargo",
									"FOSFA (Prod)": "FOFSA_prod",
									"Position Type": "PositionType",
									"Related Position Direction ID": "RelatedPositionDirectionID",
									"Direction": "Direction",
									"Related Owner Parent ID (V)": "RelatedOwnerParentID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PositionsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": "@pipeline().parameters.sourceTable",
									"StartDate_WhereClause": "@variables('varLastLoadedDate')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PositionsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.Positions"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bipwpi4u3"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.Positions"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.PositionsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncPositions"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogPositionsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-02-10T20:45:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostFixturesPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Related Vessel ID": "RelatedVessel",
									"Related Owner Full Style ID": "RelatedOwnerFullStyle",
									"Related Charterer Full Style ID": "RelatedChartererFullStyle",
									"Broker PIC Email (TM)": "RelatedBroker",
									"Ops PIC Email (TM)": "RelatedOpsPrimary",
									"Ops Backup Email (TM)": "RelatedOpsBackup",
									"Related Nomination ID": "RelatedLiftingNomination",
									"Record ID#": "RecordId",
									"CP Date": "CPDate",
									"CP Form": "CPForm",
									"Laycan Cancel Original_ADMIN": "LaycanCancelOrig",
									"Demurrage Rate Per Day_ENTRY": "DemurrageRate",
									"Time Bar": "TimeBar",
									"Address Commission Percentage_ADMIN": "AddressCommissionPercent",
									"Broker Commission Percentage for Comm Inv_ADMIN": "BrokerCommissionPercent",
									"Laytime Allowed Fixture Load_ENTRY_ADMIN": "LaytimeAllowedLoad",
									"Laytime Allowed Fixture Disch_ENTRY_ADMIN": "LaytimeAllowedDisch",
									"Laytime Reversible_ADMIN": "ShincReversible",
									"Vessel Originally Fixed As_SNAP_ADMIN": "VesselNameSnap",
									"Demurrage Amount Agreed_ADMIN": "DemurrageAmountAgreed",
									"Charter To Be Invoiced Commission_ADMIN": "CharterInvoiced",
									"Payment Type": "PaymentType",
									"Freight Lump Sum_Data Entry_ADMIN": "FreightLumpSumEntry",
									"Disch FAC_ADMIN": "DischFAC",
									"Laytime Allowed Type Fixture_ENTRY": "LaytimeOption",
									"Owners Ref_ADMIN": "OwnersRef",
									"Charterers Ref_ADMIN": "CharterersRef",
									"Exchange Rate_1 USD Equals_review": "ExchangeRate",
									"Currency Invoice_OLD": "CurrencyInvoice",
									"Laycan Commencement_Narrowed": "LaycanCommencementNarrowed",
									"Laycan Cancelling_Narrowed": "LaycanCancellingNarrowed",
									"Chartering PIC_Snap": "CharteringPicSnap",
									"Operations PIC_Snap": "OperationsPicSnap",
									"Laycan to be Narrowed by": "LaycanToBeNarrowedBy",
									"Broker Comm applies to Demurrage_CB": "BrokerCommDemurrage",
									"Add Comm applies to Deadfreight_ADMIN": "AddCommDeadFreight",
									"Demurrage Claim Received Date": "DemurrageClaimReceived",
									"Voyage Number_ADMIN": "VoyageNumber",
									"Laycan to be Amended": "LaycanToBeAmended",
									"Laycan Cancelling_Amended": "LaycanCancellingAmended",
									"Laycan Commencement_Amended": "LaycanCommencementAmended",
									"Currency CP_ADMIN": "CurrencyCP",
									"Status Category_ADMIN": "FixtureStatusCategory",
									"Frt Rate PMT (bss PMT or Lump Sum)": "FrtRatePmt",
									"Broker Frt Commission excluding Addl Charges_ADMIN": "BrokerFrtComm",
									"SPI Fixture #": "P2FixtureRefNum",
									"Vessel Fixed As_Official": "VesselFixedOfficial",
									"Related SPI COA ID": "RelatedSPICOAId",
									"Date Created": "DateCreated",
									"Date Modified": "DateModified",
									"Load Port 1 Record ID (LDP)_ADMIN": "LoadPort1RecId",
									"Load Port 2 Record ID (LDP)_ADMIN": "LoadPort2RecId",
									"Load Port 3 Record ID (LDP)_ADMIN": "LoadPort3RecId",
									"Disch Port 1 Record ID (LDP)_ADMIN": "DischPort1RecId",
									"Disch Port 2 Record ID (LDP)_ADMIN": "DischPort2RecId",
									"Disch Port 3 Record ID (LDP)_ADMIN": "DischPort3RecId",
									"Disch Port 4 Record ID (LDP)_ADMIN": "DischPort4RecId",
									"Disch Port 5 Record ID (LDP)_ADMIN": "DischPort5RecId",
									"Disch Port 6 Record ID (LDP)_ADMIN": "DischPort6RecId",
									"Disch Port 7 Record ID (LDP)_ADMIN": "DischPort7RecId",
									"Laycan Commencement  Original_ADMIN": "LaycanCommencementOriginal",
									"Broker Comm applies to Deadfreight_CB": "BrokerCommDeadFreight",
									"Laytime Allowed Fixture Disch mtph_QBC": "LAF_Disch_Mtph_QBC",
									"Laytime Allowed Fixture Load mtph_QBC": "LAF_Load_Mtph_QBC",
									"Laytime Allowed FIXTURE Total hrs _sum": "LAF_Total_hrs_QBC",
									"Laytime Allowed Type Fixture_QBC": "LaytimeAllowedTypeFixture_QBC",
									"Add Comm applies to Demurrage_ADMIN": "Add_Comm_applies_to_Demurrage_ADMIN",
									"Add Comm applies to Frt_ADMIN": "Add_Comm_applies_to_Frt_ADMIN",
									"Zero Demurrage": "ZeroDemurrage",
									"Laycan Cancelling Final_QBC": "Laycan_Cancelling_Final_QBC",
									"Laycan Commencement Final_QBC": "Laycan_Commencement_Final_QBC",
									"Status Detailed_ADMIN": "FixtureStatusDetailed",
									"Fixture Type": "FixtureType",
									"Laycan Commencement Time_ADMIN": "Laycan_Commencement_Time_ADMIN",
									"Laycan Cancelling Time_ADMIN": "Laycan_Cancelling_Time_ADMIN",
									"Related SPI Office ID": "RelatedSPIOfficeID",
									"Laytime Based On_ADMIN": "LaytimeBasedOn_ADMIN",
									"SPI Initial Demurrage Estimate": "SPIInitialDemurrageEstimate",
									"Load Port Region (P)_ADMIN": "LoadPortRegion",
									"Disch Port Region (P)_ADMIN": "DischPortRegion",
									"Frt Rate Projection_ADMIN": "FrtRateProjection",
									"Voyage Summary Report Comments_ADMIN": "VoyageSummaryReportComments_ADMIN",
									"Extra Laytime for Fixture_Entry_ADMIN": "ExtraLaytimeforFixture_Entry_ADMIN",
									"Related SPI COA Trade Lane ID": "RelatedSPICOATradeLaneID",
									"Port Time Rate_ENTRY": "PortTimeRate_ENTRY"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PostFixturesQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PostFixturesSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "@pipeline().parameters.targetTable"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bmd6t28k5"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.PostFixtures"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.PostFixturesLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncPostFixtures"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogPostFixturesLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-13T10:15:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductTypePipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Type Name": "TypeName"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ProductTypeQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProductTypeSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.ProductType"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bnqjqzj72"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.ProductType"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ProductTypeLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncProductType"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogProductTypeLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-03-03T13:53:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductsPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTLookupLastLoaded",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlGenericDataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ACTSetLastLoadedDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "QBRecId",
									"Product Name": "ProductName",
									"Specific Gravity": "SpecificGravity",
									"Required Coating": "RequiredCoating",
									"EU": "EU",
									"CIQ": "CIQ",
									"NIOP": "NIOP",
									"Notes": "Notes",
									"Related Product Type ID": "RelatedProductTypeId",
									"Liquid Type": "LiquidType"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ProductsQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									},
									"StartDate_WhereClause": {
										"value": "@variables('varLastLoadedDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ProductsSQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "staging.Products"
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetStartTimeStamp",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "startTimeStamp",
							"value": {
								"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ACTUpdateLog",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTSyncDestination",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ACTSetStartTimeStamp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.updateLogStoredProc",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"LastProcessed": {
									"value": {
										"value": "@variables('startTimeStamp')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACTSetLastLoadedDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ACTLookupLastLoaded",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varLastLoadedDate",
							"value": {
								"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "biuhrjz6v"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.Products"
					},
					"logTable": {
						"type": "String",
						"defaultValue": "etl.ProductsLoadInfo"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "dbo.cp_syncProducts"
					},
					"updateLogStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_updateLogProductsLoadInfo"
					},
					"IsFullLoad": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"startTimeStamp": {
						"type": "String",
						"defaultValue": "1900-01-01"
					},
					"varLastLoadedDate": {
						"type": "String",
						"defaultValue": "1900-01-01"
					}
				},
				"annotations": [],
				"lastPublishTime": "2019-11-06T16:45:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RowLevelSecurityPipeLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACTFetchDeltaData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:30:00"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
									"type": "Expression"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Record ID#": "RecordID",
									"Product_SQL": "Product",
									"Charterer Parent_SQL": "ChartererParent",
									"Owner Parent_SQL": "OwnerParent",
									"Username_SQL": "Username",
									"Load Area Region_SQL": "LoadRegion",
									"Disch Area Region_SQL": "DischargeRegion",
									"Full Style Name_SQL": "FullStyleName",
									"GUID_SQL (U)": "GUID",
									"MinCPDateToPull_SQL": "MinCPDateToPull"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RowLevelSecurityQBDataset",
								"type": "DatasetReference",
								"parameters": {
									"QBTableName": {
										"value": "@pipeline().parameters.sourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "RowLevelSecuritySQLDataset",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.targetTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "ACTSyncDestination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACTFetchDeltaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@pipeline().parameters.syncStoredProc",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDBLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceTable": {
						"type": "String",
						"defaultValue": "bqictfrvd"
					},
					"targetTable": {
						"type": "String",
						"defaultValue": "staging.RowLevelSecurity"
					},
					"syncStoredProc": {
						"type": "String",
						"defaultValue": "etl.cp_syncRowLevelSecurity"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-09-15T19:08:54Z"
			},
			"dependsOn": []
		}
	]
}