pipeline/OwnerInvoicePipeLine.json
{
	"name": "OwnerInvoicePipeLine",
	"properties": {
		"activities": [
			{
				"name": "ACTLookupLastLoaded",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACTFetchDeltaData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACTSetLastLoadedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:30:00"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
							"type": "Expression"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Record ID#": "RecordID",
							"Date Modified": "DateModified",
							"Invoice Due Amount": "InvoiceDueAmount",
							"Owner Invoice Date": "OwnerInvoiceDate",
							"Owner Invoice Number": "OwnerInvoiceNumber",
							"Date Owners Received Frt Payment": "DateOwnersReceivedFrtPayment",
							"Owner Invoice Attachment": "OwnerInvoiceAttachment",
							"Date Invoice Received by SPI": "DateInvoiceReceivedbySPI",
							"Date Validated by SPI": "DateValidatedbySPI",
							"Date Invoice Sent to Charterer": "DateInvoiceSenttoCharterer",
							"Date Verified by Charterer": "DateVerifiedbyCharterer",
							"Internal Invoice Notes": "InternalInvoiceNotes",
							"Currency": "Currency",
							"Invoice Type": "InvoiceType",
							"Related SPI Fixture ID": "RelatedSPIFixtureID",
							"Invoice Status_ADMIN": "InvoiceStatus_ADMIN",
							"Owners Due Date": "OwnersDueDate"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OwnerInvoiceQBDataset",
						"type": "DatasetReference",
						"parameters": {
							"QBTableName": "@pipeline().parameters.sourceTable",
							"StartDate_WhereClause": "@variables('varLastLoadedDate')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OwnerInvoiceSQLDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "@pipeline().parameters.targetTable"
						}
					}
				]
			},
			{
				"name": "ACTSyncDestination",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACTFetchDeltaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.syncStoredProc",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDBLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACTSetStartTimeStamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACTLookupLastLoaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startTimeStamp",
					"value": {
						"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACTUpdateLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACTSyncDestination",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACTSetStartTimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.updateLogStoredProc",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"LastProcessed": {
							"value": {
								"value": "@variables('startTimeStamp')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDBLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACTSetLastLoadedDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACTLookupLastLoaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLastLoadedDate",
					"value": {
						"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sourceTable": {
				"type": "String",
				"defaultValue": "bn5edbwz6"
			},
			"targetTable": {
				"type": "String",
				"defaultValue": "staging.OwnerInvoice"
			},
			"logTable": {
				"type": "String",
				"defaultValue": "etl.OwnerInvoiceLoadInfo"
			},
			"syncStoredProc": {
				"type": "String",
				"defaultValue": "dbo.cp_syncOwnerInvoice"
			},
			"updateLogStoredProc": {
				"type": "String",
				"defaultValue": "etl.cp_updateLogOwnerInvoiceLoadInfo"
			},
			"IsFullLoad": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"startTimeStamp": {
				"type": "String",
				"defaultValue": "1900-01-01"
			},
			"varLastLoadedDate": {
				"type": "String",
				"defaultValue": "1900-01-01"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-02T16:08:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}