pipeline/ParcelsPipeLine.json
{
	"name": "ParcelsPipeLine",
	"properties": {
		"activities": [
			{
				"name": "ACTLookupLastLoaded",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP 1 convert(varchar, LastLoaded, 120) LastLoaded , convert(varchar, GETDATE(), 120) StartDateTime FROM @{pipeline().parameters.logTable} ORDER BY CreateDate DESC",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlGenericDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACTFetchDeltaData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACTSetLastLoadedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "HttpSource",
						"httpRequestTimeout": "00:30:00"
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"preCopyScript": {
							"value": "TRUNCATE TABLE @{pipeline().parameters.targetTable}",
							"type": "Expression"
						},
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Record ID#": "QbRecId",
							"Bill_Lading_Date": "BillLadingDate",
							"Date Modified": "DateModified",
							"Date Created": "DateCreated",
							"Out-Turn Qty": "OutTurnQty",
							"Ship Loaded Qty": "ShipLoadedQty",
							"Ship Discharge Qty": "ShipDischargeQty",
							"Nominated Qty": "NominatedQty",
							"BL Qty": "BLQty",
							"Comments": "Comments",
							"Paytment Type": "PaymentType",
							"Unit": "Unit",
							"Related SPI Fixture ID": "RelatedSpiFixtureId",
							"Related Load Parcel Port ID": "RelatedLoadPortID",
							"Related Load Parcel Berth ID": "RelatedLoadBerth",
							"Related Disch Parcel Port ID": "RelatedDischPortId",
							"Related Market Info ID": "RelatedMarketInfoId",
							"Related Nomination ID": "RelatedLiftingNominationId",
							"Related Disch Parcel Berth ID": "RelatedDischBerth",
							"Related Parcel Product ID": "RelatedParcelProductId",
							"Parcel Freight Amount_QBC": "ParcelFreightAmountQBC",
							"Parcel Demurrage Vault Estimated Amount_QBC": "DemurrageVaultEstimateAmount_QBC",
							"Parcel Demurrage Agreed Pro-ration_QBC": "DemurrageAgreedPro-ration_QBC",
							"Parcel Demurrage Agreed Amount_QBC": "DemurrageAgreedAmount_QBC",
							"Parcel Demurrage Claim Amount_QBC": "DemurrageClaimAmount_QBC",
							"Deadfreight Qty": "DeadfreightQty",
							"Parcel Number_ADMIN": "ParcelNumber",
							"Parcel Frt Rate CP PMT_Data_Entry": "ParcelFrtRate",
							"Supplier Name (S)": "SupplierName",
							"Receiver Name (R)": "ReceiverName",
							"Status": "Status",
							"Tentative Cargo Nom Qty": "TentativeCargoNomQty",
							"Tentative Cargo Nom Date Original": "TentativeCargoNomDateOriginal",
							"Charterer Request_Laycan Commencement Original": "ChartererRequest_LaycanCommencementOriginal",
							"Charterer Request_Laycan Cancelling Original": "ChartererRequest_LaycanCancellingOriginal",
							"Charterer Requested Quantity": "ChartererRequestedQuantity",
							"Hypothetical Frt Rate": "HypotheticalFrtRate"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ParcelsQBDataset",
						"type": "DatasetReference",
						"parameters": {
							"QBTableName": {
								"value": "@pipeline().parameters.sourceTable",
								"type": "Expression"
							},
							"StartDate_WhereClause": {
								"value": "@variables('varLastLoadedDate')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ParcelsSQLDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": {
								"value": "@pipeline().parameters.targetTable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ACTSyncDestination",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACTFetchDeltaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.syncStoredProc",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDBLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACTSetStartTimeStamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACTLookupLastLoaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "startTimeStamp",
					"value": {
						"value": "@{activity('ACTLookupLastLoaded').output.firstRow.StartDateTime}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACTUpdateLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACTSyncDestination",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACTSetStartTimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.updateLogStoredProc",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"LastProcessed": {
							"value": {
								"value": "@variables('startTimeStamp')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDBLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACTSetLastLoadedDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACTLookupLastLoaded",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLastLoadedDate",
					"value": {
						"value": "@if(equals(pipeline().parameters.IsFullLoad, 0), activity('ACTLookupLastLoaded').output.firstRow.LastLoaded, '1900-01-01')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sourceTable": {
				"type": "String",
				"defaultValue": "bmetvurzg"
			},
			"targetTable": {
				"type": "String",
				"defaultValue": "staging.Parcels"
			},
			"logTable": {
				"type": "String",
				"defaultValue": "etl.ParcelsLoadInfo"
			},
			"syncStoredProc": {
				"type": "String",
				"defaultValue": "dbo.cp_syncParcels"
			},
			"updateLogStoredProc": {
				"type": "String",
				"defaultValue": "etl.cp_updateLogParcelsLoadInfo"
			},
			"IsFullLoad": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"startTimeStamp": {
				"type": "String",
				"defaultValue": "1900-01-01"
			},
			"varLastLoadedDate": {
				"type": "String",
				"defaultValue": "1900-01-01"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-19T15:47:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}